<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<section class="todoapp" id="app">
			<!-- 头部结构 -->
			<header class="header">
				<h1>todos</h1>
				<input
				class="new-todo"
				placeholder="What needs to be done?"
				v-focus
				v-model="newTodo"
				@keyup.enter="addTodo"
				>
			</header>
			<!-- 主体结构 -->
			<!--
				1- 根据数组的长度,来显示结构,如果什么都没有的情况下,什么都不显示
			 -->
			<section
			class="main"
			v-if="dataList.length"
			>
				<input id="toggle-all" class="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
					<!-- 数据结构 -->
					<li
					:class="{completed: item.isFinish}"
					v-for="(item,index) in dataList"
					:key="item.id"
					>
						<div class="view">
							<input
							class="toggle"
							type="checkbox"
							v-model="item.isFinish"
							checked>
							<label>{{item.content}}</label>
							<button
							class="destroy"
							@click.prevent="delTodo(index)"
							></button>
						</div>
						<input class="edit" value="Create a TodoMVC template">
					</li>
				</ul>
			</section>
			<!-- 底部结构 -->
			<footer
			class="footer"
			v-if="dataList.length"
			>
				<!-- This should be `0 items left` by default -->
				<span class="todo-count"><strong>{{activeNum}}</strong> item left</span>
				<!-- Remove this if you don't implement routing -->
				<ul class="filters">
					<li>
						<a class="selected" href="#/">All</a>
					</li>
					<li>
						<a href="#/active">Active</a>
					</li>
					<li>
						<a href="#/completed">Completed</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button class="clear-completed">Clear completed</button>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!-- Scripts here. Don't remove ↓ -->
		<script src="node_modules/todomvc-common/base.js"></script>
		<script src="./node_modules//vue//dist/vue.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>
